{% if site.social-links.email %}
	<a href="mailto:{{ site.social-links.email }}"><span class="icon fa fa-fw fa-envelope"></span></a>
{% endif %}
{% if site.social-links.facebook %}
	<a href="https://www.facebook.com/{{ site.social-links.facebook }}"><span class="icon fa fa-fw fa-facebook"></span></a>
{% endif %}
{% if site.social-links.github %}
	<a href="https://github.com/{{ site.social-links.github }}"><span class="icon fa fa-fw fa-github"></span></a>
{% endif %}
{% if site.social-links.instagram %}
	<a href="https://instagram.com/{{ site.social-links.instagram }}"><span class="icon fa fa-fw fa-instagram"></span></a>
{% endif %}
{% if site.social-links.linkedin %}
	<a href="https://www.linkedin.com/in/{{ site.social-links.linkedin }}"><span class="icon fa fa-fw fa-linkedin"></span></a>
{% endif %}
{% if site.social-links.pinterest %}
	<a href="https://www.pinterest.com/{{ site.social-links.pinterest }}"><span class="icon fa fa-fw fa-pinterest"></span></a>
{% endif %}
{% if site.social-links.rss %}
	<a href="{{ site.baseurl }}/feed.xml"><span class="icon fa fa-fw fa-rss"></span></a>
{% endif %}
{% if site.social-links.twitter %}
	<a href="https://www.twitter.com/{{ site.social-links.twitter }}"><span class="icon fa fa-fw fa-twitter"></span></a>
{% endif %}
{% if site.social-links.stackoverflow %}
	<a href="http://stackoverflow.com/{{ site.social-links.stackoverflow }}"><span class="icon fa fa-fw fa-stackoverflow"></span></a>
{% endif %}
{% if site.social-links.youtube %}
	<a href="https://youtube.com/{{ site.social-links.youtube }}"><span class="icon fa fa-fw fa-youtube"></span></a>
{% endif %}
{% if site.social-links.googleplus %}
	<a href="https://plus.google.com/{{ site.social-links.googleplus }}"><span class="icon fa fa-fw fa-google-plus"></span></a>
{% endif %}