@font-face {
	font-family: 'Changa';
	src:  url('../fonts/Changa-Regular.ttf?-hdf3wh') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ChangaB';
	src:  url('../fonts/Changa-Bold.ttf?-hdf3wh') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src:  url('../fonts/OpenSans-Regular.ttf?-hdf3wh') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansB';
	src:  url('../fonts/OpenSans-Bold.ttf?-hdf3wh') format('truetype');
	font-weight: bold;
	font-style: normal;
}



@font-face {
	font-family: 'DosisLight';
	src:  url('../fonts/Dosis/Dosis-Light.ttf?-hdf3wh') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DosisExtraLight';
	src:  url('../fonts/Dosis/Dosis-ExtraLight.ttf?-hdf3wh') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src:  url('../fonts/Dosis/Dosis-Regular.ttf?-hdf3wh') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'DosisBold';
	src:  url('../fonts/Dosis/Dosis-Bold.ttf?-hdf3wh') format('truetype');
	font-weight: normal;
	font-style: normal;
}