.cv{
	margin-top: 96px;
	color: $dark-color;
	.profile{
		width: 100%;
		.profile-img{
			max-width: 100%;
    		height: 240px;
			background: $secondary-color url("https://raw.githubusercontent.com/adams100111/src/master/resume-profile.jpg") no-repeat center top;
			background-size: cover;
		}
	}
	.info-view{
		max-height: 520px;
		overflow-y: scroll;
	}
	.info p{display: block;}
	.autograph{max-width: 84px;}
	.fa, i{color: $secondary-color;}
}