#footer{
	padding-bottom: 32px;
	.contact-details{
		margin: 0px 0px 64px;
		div {margin-bottom: 16px;}
		strong{
			display: block;
			font-size: 1.4em;
			margin-bottom: 16px;
		}
	}

	img.sign{
		display: block;
		width: 200px; 
		height: 120px;
	    margin-top: -48px;
	}
}